@import url("responsive.css");
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin: 0;
}
/* Header Css */
.navbar{
    box-sizing: border-box;
}
.navbar a{
    color: black !important;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar-nav{
    margin-right: 100px ;
    margin-left: auto;
}
.navbar-nav a{
    
    color: rgb(20, 18, 18);
    margin: 0px 15px;
}
.navbar-nav a:hover{
 color: blue !important;
 font-size: 19px;
 text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black  !important;
}
.navbar-toggler{
    color:black;
}
/* Header Css end */


/* Footer Css  */
.footer{
    padding: 40px 20px;
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.address h4, .contact h4 ,H5, .map h4{
    text-transform: capitalize;
    color: blueviolet;

}
/* socail media 2 */

.social-media2 ul{
    display: inline-flex;
}
.social-media2 ul li{
    list-style: none;
    margin: 0 10px;
}
.fa-envelope, .fa-phone{
    
    float: left;
    padding: 0px 10px 0 0;
}
.social-media2 ul li a{
    box-shadow: 2px 2px 60px 4px white;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 3px solid white;
    font-size: 25px;
    display: block;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
}
.social-media2 ul li a .fa{
    z-index: 3;
    color: black;
    transition: .5s;   
}
.social-media2 ul li a:hover .fa{
    transform:rotateX(360deg);
    color: white;
    transition: .4s;
    

}
.social-media2 ul li:nth-child(1) a:hover{
    background: #3b5998;
    transition: 1s;
}
.social-media2 ul li:nth-child(2) a:hover{
    background: #e4405f;
    transition: 1s;    
}
.footer_2{
color: black;
background-color: rgb(163, 161, 161);
text-transform:capitalize;
}
.footer_2 p{
    text-align: right;
    padding: 5px 15px;
    font-weight: bold;
}
/* Footer Css end */

