.academic_course{
    margin-top: 50px;
    padding-top: 100px;
    background-color: rgb(241, 234, 234);
    margin-bottom: 0px;
}
.academic_course h1{
    margin: 0;
}

.academic_course_section{
    padding: 20px;

    margin-top: 50px;
}
 .sub_row{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    border: 1px solid black;
    margin: 20px 0px;
}

.content_data{
    /* border: 1px solid black; */
    font-weight: bold;
    text-transform: capitalize;
}
.content_data_item{
    padding-left: 30px;
}
.image{
    padding: 0;
    margin:0;
}
.image img{
    width: 100%;
    height: 140px;   
}

.it_card{
    margin: 10px 0;
    box-shadow: 0px 0px 10px black;
    /* border: 1px solid black; */
}
.it_card .card img{
    height: 170px;
}
.card{
    max-height: 350px;
    overflow: auto  ;
}
section{
margin: 0;
}