@import url("responsive.css");
@import url("contact.css");
@import url("courses.css");
@import url("staff.css");   
@import url("shedule.css");
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', serif;
}
p{
    margin: 0;
}
/* Header Css */
.navbar{
    box-sizing: border-box;
}
.navbar a{
    color: black !important;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar-nav{
    margin-right: 100px ;
    margin-left: auto;
}
.navbar-nav a{
    
    color: rgb(20, 18, 18);
    margin: 0px 15px;
}
.navbar-nav a:hover{
 color: blue !important;
 font-size: 19px;
 text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black  !important;
}
.navbar-toggler{
    color:black;
}
/* Header Css end */

/* Slider Css Star  */
.carousel-item img{
    height: 450px;
    margin-top: 50px;
}
.welcome{
    background-color: rgb(241, 234, 234);
    width: 100%;
    padding: 50px ;
    text-align: center;
    margin: auto;
    height: auto;
}
.welcome img{
    width: 90%;
}

.welcome h5{
  
    padding: 20px 0;
    font-size: 3vh;
    color: rgb(179, 4, 195);
}
/* Slider Css end  */

/* course_card start */
.courses{
    background-color: rgb(241, 234, 234);
    padding: 100px 0px;
    
}
.card img{
    height: 170px;
}
.course_card, .staff_card{
    
    border-radius: 10px;
    box-shadow: 0px 2px 10px black;
    /* border: 1px so   lid black; */
    width: 100%;
    height: auto;
    margin: 15px 0px;
}
/* .course_card:hover{
    transform: rotateX('360');
} */
.course_sub_heading{
    color: black;
    font-weight: bold;
}
.classes{
    padding-left: 20px;
    font-weight: bold;
}
.go_to_link{
    padding-top: 20px;
    text-transform: capitalize;
    text-align: center;
}
.go_to_link a{
    color: rgb(153, 0, 255) !important;
}
.go_to_link a:hover{
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black  !important;
    color: rgb(12, 11, 12);
}
/* course_card end */

/* roduction css start */
.introduction{
    background-color: rgba(250, 203, 203, 0.274);
    padding: 100px 30px;
}
.heading h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    color: blue;
    padding: 20px 0;

}
.our_staff{
    background-color: rgba(250, 203, 203, 0.274);
    padding: 100px 0;
}

.bold{
    font-weight: bold;
    font-style: italic;
}

/* contact_us start */
.contact_us{
    padding-top: 100px;
    background-color: rgb(241, 234, 234);
    text-align: center;
}
.contact_us a{
    font-size: larger;
    color: rgb(248, 4, 4);
    text-decoration: none;
}
/* contact_us end */




/* Footer Css  */
.footer{
    padding: 40px 20px;
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.address h4, .contact h4 ,H5, .map h4{
    text-transform: capitalize;
    color: blueviolet;

}
/* socail media 2 */

.social-media2 ul{
    display: inline-flex;
}
.social-media2 ul li{
    list-style: none;
    margin: 0 10px;
}
.fa-envelope, .fa-phone{
    
    float: left;
    padding: 0px 10px 0 0;
}
.social-media2 ul li a{
    box-shadow: 2px 2px 60px 4px white;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 3px solid white;
    font-size: 25px;
    display: block;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
}
.social-media2 ul li a .fa{
    z-index: 3;
    color: black;
    transition: .5s;   
}
.social-media2 ul li a:hover .fa{
    transform:rotateX(360deg);
    color: white;
    transition: .4s;
    

}
.social-media2 ul li:nth-child(1) a:hover{
    background: #3b5998;
    transition: 1s;
}
.social-media2 ul li:nth-child(2) a:hover{
    background: #e4405f;
    transition: 1s;    
}
.footer_2{
color: black;
background-color: rgb(163, 161, 161);
text-transform:capitalize;
}
.footer_2 p{
    text-align: right;
    padding: 5px 15px;
    font-weight: bold;
}
svg{
    background-color: rgb(241, 234, 234);

}
/* Footer Css end */

